html {
font-family: "Roboto", sans serif;
font-weight: 200;
}

nav {background-color: #3498DB;}

nav ul a,
nav .brand-logo {
    color: white;
}

.paperimagetext {
    color: #3498DB;
}

.imagetext {
    color: white;
}
	
.tooltipped {
    color: white;
}

.mywords h5{padding-top: 20px;padding-bottom:20px;}

.mywords p{padding-bottom:40px;}

p {
    line-height: 2em;
    text-indent: 3em;

    /*padding-bottom: 20px;*/
}

.sidenav-trigger {
    color: #26a69a;
}

.btn {background-color:#e24e42 ; 
}
.btn:hover {background-color:#f53240; }

    display: inline-block;

.parallax-container {
    min-height: 450px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.paper { min-height: 850px; line-height: 8;}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}


footer.page-footer {
    margin: 0px;
    text-align: center;
    color: #3498DB;
    background-color: #3498DB;
}


ion-icon {
    font-size: 24px;
    color: white;
    vertical-align: middle;
     text-align: center;
}

